* {
    font-family: Arial, Helvetica, sans-serif;
}

ul li:first-child {
    color: purple;
}

ul li:nth-child(3) {
    color: orangered;
}

#mi-enlace {
    font-size: 30px;
    color: lightsalmon;
}

#mi-enlace:link {
    color: lightseagreen
}

#mi-enlace:visited {
    color: orangered;
}